<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Ranking between our Jumpers</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th width="130">Jumper</th>
                    <th class="center_rank">Points</th>
                    <th class="center_rank">Jumps</th>
                    <th class="center_rank">Likes</th>
                    <th width="450">Countries</th>
                </tr>
                <tr>
                    <td class="jumper">
                        Juan Carrizo Ibarra <span class="info_icon"></span>
                    </td>
                    <td>1436</td>
                    <td>184</td>
                    <td>691</td>
                    <td class="country">Countries</td>
                </tr>
                <tr>
                    <td class="jumper">
                        Vicen Carrizo Ibarra <span class="info_icon"></span>
                    </td>
                    <td>456</td>
                    <td>45</td>
                    <td>252</td>
                    <td class="country">Countries</td>

                </tr>
                <tr>
                    <td class="jumper">
                        Marta Carrizo Ibarra <span class="info_icon"></span>
                    </td>
                    <td>851</td>
                    <td>140</td>
                    <td>301</td>
                    <td class="country">Countries</td>

                </tr>
            </tbody>
        </table>
    </div>
    </div>

</div>
<!-- /.container -->
