<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">Ranking between our Jumpers</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <tbody>
                    <tr class="bg-primary">
                        <th>Jumper</th>
                        <th>Points</th>
                        <th>Jumps</th>
                        <th>Likes</th>
                        <th>Countries</th>
                    </tr>
                    <tr ng-repeat="jumper in vm.jumpers" ng-class-even="'bg-info'">
                        <td class="jumper">
                            {{jumper.name}}
                            <i ng-class="jumper.tooltip ? 'fa fa-info-circle' : 'hidden'"></i>
                        </td>
                        <td>{{jumper.points}}</td>
                        <td>{{jumper.jumps}}</td>
                        <td>{{jumper.likes}}</td>
                        <td class="country">
                            <div ng-attr-title="country.name" ng-class="country.class" ng-repeat="country in jumper.countries"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
