<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">Ranking between our Jumpers</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search within the jumpers" ng-model="vm.search.$">
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr class="bg-primary">
                        <th>P</th>
                        <th colspan=2>Jumper</th>
                        <th>Points</th>
                        <th>Jumps</th>
                        <th>Likes</th>
                        <th class="hidden-xs hidden-sm">Countries</th>
                    </tr>
                    <tr ng-repeat-start="jumper in vm.jumpers | orderBy: sort | filter:vm.search:strict" ng-class-even="'bg-info'">
                        <td>
                            <span>{{$index + 1}}</span>
                            <i ng-class="jumper.position ? (jumper.position + ' fa') : 'hidden'"></i>
                        </td>
                        <td>
                            <div title="{{jumper.nationality[0].name}}" class="left {{jumper.nationality[0].class}}"></div>
                        </td>
                        <td>
                            <div class="left">{{jumper.name}}&nbsp;</div>
                            <i ng-class="jumper.tooltip ? 'fa fa-info-circle' : 'hidden'" ng-click="vm.openInfoBox(jumper.name)"></i>
                        </td>
                        <td>{{jumper.points}}</td>
                        <td>{{jumper.jumps}}</td>
                        <td>{{jumper.likes}}</td>
                        <td class="country hidden-xs hidden-sm">
                            <div ng-attr-title="country.name" ng-class="country.class" ng-repeat="country in jumper.countries"></div>
                        </td>
                    </tr>
                    <tr ng-repeat-end class="visible-xs visible-sm" ng-class-even="'bg-info'">
                        <td colspan="2">Countries</td>
                        <td class="country" colspan="4">
                            <div ng-attr-title="country.name" ng-class="country.class" ng-repeat="country in jumper.countries"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
