.polaroids {
    overflow: hidden;
   .picture {
        background: #000 none repeat scroll 0% 0%;
        color: #FFF;
        display: table;
        margin-bottom: 20px;
        width: auto;
        padding: 10px 10px 15px;
        text-align: center;
        font-family: "Marker Felt",sans-serif;
        font-size: 18px;
        margin: 10px auto;
        transform: rotate(-2deg);
        &:after {
          content: attr(title);
        }
    }
    .polaroid-item {
        &:nth-child(even){
            transform: rotate(3deg);
        }
        &:nth-child(5n) {
          transform: rotate(5deg);
        }
        &:nth-child(8n) {
            transform: rotate(-3deg);
        }
    }
}

.gallery-section {
    margin-bottom: 20px;
}

.jqvmap-label {
    position: absolute;
    background-color: #fff;
}

.map-wrapper {
    position: relative;
}
.flag-counter {
    position: absolute;
    left: 15px;
    bottom: 20px;
    z-index: 1;
}
