.sprite_flags {
    background: url(../images/flags-sprite.png) no-repeat top left;
    float: left;
    margin: 2px;
}

.flags-ARGE0001{ background-position: 0 0; width: 52px; height: 26px; }
.flags-ARUB0001{ background-position: 0 -27px; width: 39px; height: 26px; }
.flags-ASTL0001{ background-position: 0 -54px; width: 52px; height: 26px; }
.flags-AUST0001{ background-position: 0 -81px; width: 39px; height: 26px; }
.flags-BELG0001{ background-position: 0 -108px; width: 30px; height: 26px; }
.flags-BLVA0001{ background-position: 0 -135px; width: 39px; height: 26px; }
.flags-BLZE0001{ background-position: 0 -162px; width: 39px; height: 26px; }
.flags-BOHE0001{ background-position: 0 -189px; width: 52px; height: 26px; }
.flags-BRAZ0001{ background-position: 0 -216px; width: 37px; height: 26px; }
.flags-BULG0001{ background-position: 0 -243px; width: 39px; height: 26px; }
.flags-CAMB0001{ background-position: 0 -270px; width: 39px; height: 26px; }
.flags-CAME0001{ background-position: 0 -297px; width: 39px; height: 26px; }
.flags-CANA0001{ background-position: 0 -324px; width: 52px; height: 26px; }
.flags-CAVE0001{ background-position: 0 -351px; width: 44px; height: 26px; }
.flags-CHIL0001{ background-position: 0 -378px; width: 39px; height: 26px; }
.flags-CHIN0001{ background-position: 0 -405px; width: 39px; height: 26px; }
.flags-CLMB0001{ background-position: 0 -432px; width: 39px; height: 26px; }
.flags-CORC0001{ background-position: 0 -459px; width: 43px; height: 26px; }
.flags-CROA0001{ background-position: 0 -486px; width: 52px; height: 26px; }
.flags-CUBA0001{ background-position: 0 -513px; width: 52px; height: 26px; }
.flags-CYPR0001{ background-position: 0 -540px; width: 43px; height: 26px; }
.flags-CZEC0001{ background-position: 0 -567px; width: 39px; height: 26px; }
.flags-DENM0001{ background-position: 0 -594px; width: 31px; height: 26px; }
.flags-DORE0002{ background-position: 0 -621px; width: 39px; height: 26px; }
.flags-ECUA0001{ background-position: 0 -648px; width: 52px; height: 26px; }
.flags-EGYP0001{ background-position: 0 -675px; width: 39px; height: 26px; }
.flags-FINL0001{ background-position: 0 -702px; width: 42px; height: 26px; }
.flags-FRAN0001{ background-position: 0 -729px; width: 39px; height: 26px; }
.flags-GERM0001{ background-position: 0 -756px; width: 43px; height: 26px; }
.flags-GREC0001{ background-position: 0 -783px; width: 39px; height: 26px; }
.flags-GUAT0001{ background-position: 0 -810px; width: 41px; height: 26px; }
.flags-HOND0001{ background-position: 0 -837px; width: 52px; height: 26px; }
.flags-HUNG0001{ background-position: 0 -864px; width: 52px; height: 26px; }
.flags-ICEL0001{ background-position: 0 -891px; width: 36px; height: 26px; }
.flags-INDA0001{ background-position: 0 -918px; width: 39px; height: 26px; }
.flags-INDN0001{ background-position: 0 -945px; width: 39px; height: 26px; }
.flags-IREL0001{ background-position: 0 -972px; width: 52px; height: 26px; }
.flags-ISRA0001{ background-position: 0 -999px; width: 36px; height: 26px; }
.flags-ITAL0001{ background-position: 0 -1026px; width: 39px; height: 26px; }
.flags-JAPA0001{ background-position: 0 -1053px; width: 37px; height: 26px; }
.flags-JORD0001{ background-position: 0 -1080px; width: 52px; height: 26px; }
.flags-KENY0001{ background-position: 0 -1107px; width: 39px; height: 26px; }
.flags-KURD0001{ background-position: 0 -1134px; width: 39px; height: 26px; }
.flags-LATV0001{ background-position: 0 -1161px; width: 52px; height: 26px; }
.flags-LIEC0001{ background-position: 0 -1188px; width: 43px; height: 26px; }
.flags-MACE0001{ background-position: 0 -1215px; width: 52px; height: 26px; }
.flags-MALD0001{ background-position: 0 -1242px; width: 39px; height: 26px; }
.flags-MALS0001{ background-position: 0 -1269px; width: 52px; height: 26px; }
.flags-MALT0001{ background-position: 0 -1296px; width: 39px; height: 26px; }
.flags-MEXC0001{ background-position: 0 -1323px; width: 45px; height: 26px; }
.flags-MOLD0001{ background-position: 0 -1350px; width: 52px; height: 26px; }
.flags-MORC0001{ background-position: 0 -1377px; width: 39px; height: 26px; }
.flags-MYAN0001{ background-position: 0 -1404px; width: 45px; height: 26px; }
.flags-NAMB0001{ background-position: 0 -1431px; width: 39px; height: 26px; }
.flags-NEPA0001{ background-position: 0 -1458px; width: 22px; height: 26px; }
.flags-NETH0001{ background-position: 0 -1485px; width: 39px; height: 26px; }
.flags-NICA0001{ background-position: 0 -1512px; width: 43px; height: 26px; }
.flags-NORW0001{ background-position: 0 -1539px; width: 36px; height: 26px; }
.flags-NWZE0001{ background-position: 0 -1566px; width: 52px; height: 26px; }
.flags-PALE0001{ background-position: 0 -1593px; width: 52px; height: 26px; }
.flags-PANA0001{ background-position: 0 -1620px; width: 39px; height: 26px; }
.flags-PARA0001{ background-position: 0 -1647px; width: 52px; height: 26px; }
.flags-PERU0001{ background-position: 0 -1674px; width: 39px; height: 26px; }
.flags-PHIL0001{ background-position: 0 -1701px; width: 52px; height: 26px; }
.flags-POLA0001{ background-position: 0 -1728px; width: 41px; height: 26px; }
.flags-PORT0001{ background-position: 0 -1755px; width: 39px; height: 26px; }
.flags-PURC0001{ background-position: 0 -1782px; width: 39px; height: 26px; }
.flags-RMNA0001{ background-position: 0 -1809px; width: 39px; height: 26px; }
.flags-RUSS0001{ background-position: 0 -1836px; width: 39px; height: 26px; }
.flags-SERB0001{ background-position: 0 -1863px; width: 39px; height: 26px; }
.flags-SKOR0001{ background-position: 0 -1890px; width: 39px; height: 26px; }
.flags-SLVA0001{ background-position: 0 -1917px; width: 52px; height: 26px; }
.flags-SOAF0001{ background-position: 0 -1944px; width: 39px; height: 26px; }
.flags-SPAN0001{ background-position: 0 -1971px; width: 39px; height: 26px; }
.flags-SRLA0001{ background-position: 0 -1998px; width: 52px; height: 26px; }
.flags-SVKA0001{ background-position: 0 -2025px; width: 39px; height: 26px; }
.flags-SWDN0001{ background-position: 0 -2052px; width: 41px; height: 26px; }
.flags-SWIT0001{ background-position: 0 -2079px; width: 26px; height: 26px; }
.flags-TANZ0001{ background-position: 0 -2106px; width: 39px; height: 26px; }
.flags-THAL0001{ background-position: 0 -2133px; width: 39px; height: 26px; }
.flags-TRTB0001{ background-position: 0 -2160px; width: 43px; height: 26px; }
.flags-TURK0001{ background-position: 0 -2187px; width: 39px; height: 26px; }
.flags-UKRN0001{ background-position: 0 -2214px; width: 39px; height: 26px; }
.flags-UNKG0001{ background-position: 0 -2241px; width: 52px; height: 26px; }
.flags-UNST0001{ background-position: 0 -2268px; width: 49px; height: 26px; }
.flags-URGY0001{ background-position: 0 -2295px; width: 39px; height: 26px; }
.flags-VACY0001{ background-position: 0 -2322px; width: 26px; height: 26px; }
.flags-VIET0001{ background-position: 0 -2349px; width: 39px; height: 26px; }


/*END OF FLAGS*/
