html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}
footer {
    padding: 20px 0px;
    background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%);
    background-repeat: repeat-x;
    color: white;
}
