<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h4>Social Media: </h4>
            <a href="https://www.facebook.com/Jumpingtheworld" target="_blank" class="fa fa-facebook"><span></span></a>
            <a href="https://twitter.com/jumpingtheworl1" target="_blank" class="fa fa-twitter"><span></span></a>
        </div>
        <div class="col-xs-12 col-sm-6 pull-right text-right">
            <h4>Send us your pictures to: </h4>
            <a href="jumpingtheworld@gmail.com">jumpingtheworld@gmail.com</a>
        </div>
    </div>
</div>
