<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Gallery</h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Gallery</li>
            </ol>
        </div>
    </div>
    <div class="row polaroids section-colored">
        <div class="col-md-3 col-xs-6 polaroid-item" ng-repeat="item in vm.gallery">
            <div title="{{item.title}}" class="picture">
                <img class="img-responsive" src="{{item.img}}">
            </div>
        </div>
    </div>
</div>
